In [15]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
filepath='iris.csv'
df=pd.read_csv(filepath)

In [3]:
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [7]:
print(df.columns.to_list())

['sepal.length', 'sepal.width', 'petal.length', 'petal.width', 'variety']

In [8]:
df['sepal.length']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal.length, Length: 150, dtype: float64

In [12]:
df.drop(columns=['sepal.length'])

     sepal.width  petal.length  petal.width    variety
0            3.5           1.4          0.2     Setosa
1            3.0           1.4          0.2     Setosa
2            3.2           1.3          0.2     Setosa
3            3.1           1.5          0.2     Setosa
4            3.6           1.4          0.2     Setosa
..           ...           ...          ...        ...
145          3.0           5.2          2.3  Virginica
146          2.5           5.0          1.9  Virginica
147          3.0           5.2          2.0  Virginica
148          3.4           5.4          2.3  Virginica
149          3.0           5.1          1.8  Virginica

[150 rows x 4 columns]

In [16]:
fig,ax=plt.subplots(figsize=(5,3))
sns.histplot(iris,x='petal.lenght',bins=15,kde=True,ax=ax)
plt.savefig('petal.length',dpi=300)

NameError: name 'plt' is not defined